@model IEnumerable<ExerciseWebDevelopment.Models.StockModel>

@{
  ViewData["Title"] = "Sell";
}

@section styles{
    <link rel="Stylesheet" href="@Href("~/css/data-grid.css")" />
}

<h1>Selll</h1>

<div>
    <h4>List Product</h4>
    <hr />
		<dl class="row header">
        <dt class="col-sm-2 header--field">
            @Html.DisplayNameFor(model => model.ma)
        </dt>
        <dd class="col-sm-2 header--field">
            @Html.DisplayNameFor(model => model.ten)
        </dd>
    </dl>
		@foreach(var item in Model) {
			<dl class="row body--row">
				<dt class="col-sm-2 body--field">
						@Html.DisplayFor(modelItem => item.ma)
				</dt>
				<dd class="col-sm-2	body--field">
						@Html.DisplayFor(modelItem => item.ten)
				</dd>
			</dl>
		}
</div>